body {
		padding: 30px;
		font-size: 17px;
		font-family: 'Calibri',Helvetica,Arial,sans-serif;
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}