article {
	white-space: pre;
}

.title {
	margin-bottom: 0px;
}

.subtitle {
	font-size: 2rem;
}

.video {
	margin-bottom: 50px;
}




// YOUTUBE RESPONSIVE CONTAINER
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

@media (min-width: 750px) {
	.video-container {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		overflow: initial;
	}
	.video-container iframe, .video-container object, .video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 90%;
		height: 90%;
	}
}

@media (max-width: 420px) {
	.video-container {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		overflow: initial;
	}
	.video-container iframe, .video-container object, .video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 90%;
		max-width: 390px
		height: 90%;
	}
}

// END YOUTUBE RESPONSIVE CONTAINER 